{% extends "layout.html.jinja" %}

{% block middle %}
    <h2>Cel aplikacji:</h2>
    <p>Umożliwienie esktrakcji i podglądu opinii produktów z serwisu ceneo wraz z wglądem podsumowaniem ich statystyk</p>
    <h2>Opis działania aplikacji:</h2>
    <p>.</p>
    <h2>Zasotoswane biblioteki:</h2>
    <p>flask, os, bs4</p>
    <h2>Zastosowane podejścia:</h2>
    <p>OOP</p>
{% endblock middle %}